/* reset css ( vai a todos os elementos da pagina) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}




/*classe container(generaliza, uma basta)*/
.container {
    width: 200px;
    height: 200px;
    color:#fff;
    /*margem do container ordem horaria*/
    margin: 20px; 
    /*largura, tipo e cor da borda em um comando so*/
    border: 5px solid #000; 
    /*distancia que seu conteudo tem das bordas ou extremidade*/
    padding: 10px;
    box-sizing: border-box; /*(recalcula o container apos o padding)*/

}
/*cor de cada container( nao geral)*/
.bg-green {background-color: #090;}
.bg-red {background-color: #900;}
.bg-blue {background-color: blue;}